.body2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 80px;

}

.header-body2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.illustration-container {
    display: flex;
    gap: 40px;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.image {
    height: 200px;
    width: 200px;
    border: solid 4px #3882F6;
    border-radius: 12px;
}

.image-text {
    width: 170px;
    text-align: center;
}