.body4-container {
    display: flex;
    justify-content: center;
    padding: 80px 100px 80px 100px;
}

.signup-container {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 8px;
    font-size: 24px;
}

.signup-message {
    padding: 40px 100px 40px 100px;

}

.signup-intro {
    font-weight: 700;
}

.message {
    font-size: 16px;

}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px 40px 100px;

}

.signup-btn {
    border: solid 2px #F9FAF8;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 28px 10px 28px;
}